/* General styles */
body {
    font-size: 15px;
    min-height: 100vh;
}

h2, p {
    font-family: 'Poppins';
}

p {
    font-weight: 400;
}

.supervisor, .team-builder, .karma, .calculator {
    box-shadow: 2.6px 5.3px 5.3px hsl(0deg 0% 0% / 0.42);
    border-radius: .5rem; 
    max-width: 19rem;
    margin: auto; 
    max-height: 15rem;
}

.supervisor {
    border-top: solid 0.25rem hsl(180, 62%, 55%);
    ;
}

.team-builder {
    border-top: solid 0.25rem hsl(0, 78%, 62%);
}

.karma {
    border-top: solid 0.25rem hsl(34, 97%, 64%);
}

.calculator {
    border-top: solid 0.25rem hsl(212, 86%, 64%);
}








/* Media Query */
@media screen and (max-width: 450px) {
    .container {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        justify-content: center;
        align-items: center;
    }
    
    .container div {
        padding: 1.5rem;
        line-height: 1.5;
    }

    .container img {
        display: block;
        margin-left: auto;
        max-width: 100%; /* Responsive images */
        height: auto; /* Maintain aspect ratio */
    }

    .reliable {
        text-align: center;
    }


}

@media screen and (min-width: 451px) and (max-width: 768px) {
    .container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
        grid-template-rows: auto;
        gap: 0.4rem;
        align-items: center;
        min-width: 15rem;
        max-width: 100%;
    }

    .container div {
       
        padding: .25rem;
    }

    .container img {
        display: block;
        margin-left: auto;
    }

    .reliable {
        text-align: center;
    }

    .supervisor {
       
        grid-row: 1 / span 2;
        grid-column: 1;
        justify-self: center;
        max-width: 19rem;
        margin: auto; 
        max-height: 15rem;
    }

    .team-builder {
        
        grid-row: 1;
        grid-column: 2;
        align-self: center;
        max-width: 19rem;
        margin: auto; 
        max-height: 15rem;
    }

    .karma {
        
        grid-row: 2;
        grid-column: 2;
        align-self: center;
        max-width: 19rem;
        margin: auto; 
        max-height: 15rem;
    }

    .calculator {
        
        grid-row: 1 / span 2;
        grid-column: 3;
        justify-self: center;
        max-width: 19rem;
        margin: auto; 
        max-height: 15rem;
    }
}

@media screen and (min-width: 769px) {
    .container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
        grid-template-rows: auto;
        gap: 0.4rem;
        align-items: center;
    }

    

    .container img {
        display: block;
        margin-left: auto;
        max-width: 100%; /* Responsive images */
        height: auto; /* Maintain aspect ratio */
    }

    .reliable {
        text-align: center;
        
    }

    .supervisor {
        
        grid-row: 1 / span 2;
        grid-column: 1;
        justify-self: center;
        max-width: 19rem;
        margin: auto; 
        max-height: 15rem;
    }

    .team-builder {
        
        grid-row: 1;
        grid-column: 2;
        align-self: center;
         max-width: 19rem;
        margin: auto; 
        max-height: 15rem;
    }

    .karma {
        
        grid-row: 2;
        grid-column: 2;
        align-self: center;
        max-width: 19rem;
        margin: auto; 
        max-height: 15rem;
    }

    .calculator {
       
        grid-row: 1 / span 2;
        grid-column: 3;
        justify-self: center;
        max-width: 19rem;
        margin: auto; 
        max-height: 15rem;
    }
}





